# OwnerRez API
OWNERREZ_USERNAME=bluffhavenretreat@gmail.com
OWNERREZ_TOKEN=
OWNERREZ_PROPERTY_ID=458447

# Stripe
STRIPE_SECRET_KEY=sk_test_...
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

# Resend (email)
RESEND_API_KEY=re_...
EMAIL_FROM=bookings@bluffhavenretreat.com

# App
NEXT_PUBLIC_SITE_URL=http://localhost:3000
OWNERREZ_WEBHOOK_SECRET=
